.editing_area {
    display: grid;
    height: 100%;
    width: 100%;
    min-width: 500px;
    min-height: 500px;
    max-height: 80vh;
    overflow-y: scroll;
    border: 1px solid lightgrey;
    padding: 20px;
}

.heading_dropdown {
    width: 100px;
}