.editingArea {
    display: grid;
    height: 100%;
    width: 100%;
    min-width: 500px;
    min-height: 500px;
    max-height: 80vh;
    overflow-y: scroll;
    border: 2px solid grey;
    padding: 20px;
}
